---
import fs from 'fs';
import {join} from 'path';
import { Code } from 'astro-expressive-code/components';
import type { InferEntrySchema } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

type Props = {
  title: string
  component: CollectionEntry<"demos">['data']['component'],
  variant: CollectionEntry<"demos">['data']['variant'],
}

const { title, component, variant } = Astro.props

const code = fs.readFileSync(`./src/__demos__/${component}/examples/${variant}.twig`, 'utf8')
const demoPath = join(import.meta.env.BASE_URL, 'demos', variant)
---

<div 
  x-data="{ exampleSize: '1024px', updateWidth(value) { this.exampleSize = value; } }" 
  class="not-usa-prose">
  <div class="max-w-3xl mx-auto">
    <Code code={code} lang="twig" title='breadcrumb.twig' />
  </div>
  <div class="max-w-5xl mx-auto">
    <div class="border border-gray-cool-20 rounded-t px-4">
      <div class="flex justify-end gap-2">
        <button type="button" @click="updateWidth('320px')" class="flex items-center justify-center pt-1 size-10" :class="exampleSize === '320px' ? 'text-blue-60v border-blue-60v border-b-4' : 'text-gray-50 border-transparent border-b-4'">
          <span aria-hidden="true" class="icon-[material-symbols--phone-android] align-middle size-6"></span>
          <span class="sr-only">Display small phone layout</span>
        </button>
        <button type="button" @click="updateWidth('480px')" class="flex items-center justify-center pt-1 size-10" :class="exampleSize === '480px' ? 'text-blue-60v border-blue-60v border-b-4' : 'text-gray-50 border-transparent border-b-4'">
          <span aria-hidden="true" class="icon-[material-symbols--tablet-mac] align-middle size-6"></span>
          <span class="sr-only">Display large phone layout</span>
        </button>
        <button type="button" @click="updateWidth('640px')" class="flex items-center justify-center pt-1 size-10" :class="exampleSize === '640px' ? 'text-blue-60v border-blue-60v border-b-4' : 'text-gray-50 border-transparent border-b-4'">
          <span aria-hidden="true" class="icon-[material-symbols--tablet] align-middle size-6"></span>
          <span class="sr-only">Display tablet layout</span>
        </button>
        <button type="button" @click="updateWidth('1024px')" class="flex items-center justify-center pt-1 size-10" :class="exampleSize === '1024px' ? 'text-blue-60v border-blue-60v border-b-4' : 'text-gray-50 border-transparent border-b-4'">
          <span aria-hidden="true" class="icon-[material-symbols--desktop-mac-outline] align-middle size-6"></span>
          <span class="sr-only">Display desktop layout</span>
        </button>
      </div>
    </div>
    <div class="bg-gray-cool-20 min-w-80 border border-gray-cool-20 rounded-b border-t-0 overflow-hidden relative">
      <div class="absolute top-2 right-2">
        <span class="bg-black/80 py-0.5 px-1 rounded text-sm text-white" x-text="exampleSize"></span>
      </div>
      <div class="bg-gray-cool-2 flex items-center justify-center mx-auto" :style="{ width: exampleSize }">
        <iframe title={title} width="100%" height="100%" src={demoPath}></iframe>
      </div>
    </div>
  </div>
</div>
