---
// import type { CollectionEntry } from 'astro:content'

// import fs from 'node:fs'
import graphPaper from "#assets/img/graph-paper.svg";
import ZagSplitter from "#components/zag-splitter";
// import { renderTwigTemplate } from '#utils/functions'
import CollapsibleCode from "./collapsible-code.astro";
import StackBlitzButton from "./stackblitz-button";

type Props = {
  // component: CollectionEntry<'demos'>['data']['component']
  // variant: CollectionEntry<'demos'>['data']['variant']
  minHeight?: string;
  resize?: boolean;
  //
  code: string;
  componentName?: string;
};

const { minHeight, resize = true, code, componentName } = Astro.props;

const markup = Array.isArray(code) ? code.join("\n") : code;

// const propsPath = `./src/__demos__/${component}/${component}-props.json`
// const componentPath = `./src/__demos__/${component}/examples/${variant}.twig`

// let componentProps = ''
// if (fs.existsSync(propsPath)) {
//   componentProps = JSON.parse(fs.readFileSync(propsPath, 'utf8'))
// }

// const componentCode = fs.readFileSync(componentPath, 'utf-8')
// const template = await renderTwigTemplate({
//   path: componentPath,
//   props: componentProps || '',
// });
---

<div class="not-docs-prose w-full max-w-6xl mt-6 mb-12">
  <div class="outline-1 outline-gray-cool-20 rounded-t">
    <div class="flex w-full overflow-hidden">
      <div
        class="text-black text-sm px-4 flex items-center justify-center h-12"
      >
        <div class="w-24">
          <span class="font-semibold">Breakpoints</span>
        </div>
        <div class="ml-60 w-24 h-full">
          <div
            class="h-full border-l border-l-gray-cool-20 flex flex-col justify-center pl-2"
          >
            <p class="font-semibold leading-none mb-0.5">Mobile</p>
            <span class="text-sm text-gray-cool-50 leading-none">320px</span>
          </div>
        </div>
        <div class="ml-16 w-24 h-full">
          <div
            class="h-full border-l border-l-gray-cool-20 flex flex-col justify-center pl-2"
          >
            <p class="font-semibold leading-none mb-0.5">Mobile Lg</p>
            <span class="text-sm text-gray-cool-50 leading-none">480px</span>
          </div>
        </div>
        <div class="ml-16 w-24 h-full">
          <div
            class="h-full border-l border-l-gray-cool-20 flex flex-col justify-center pl-2"
          >
            <p class="font-semibold leading-none mb-0.5">Tablet</p>
            <span class="text-sm text-gray-cool-50 leading-none">640px</span>
          </div>
        </div>
        <div class="ml-72 w-24 h-full">
          <div
            class="h-full border-l border-l-gray-cool-20 flex flex-col justify-center pl-2"
          >
            <p class="font-semibold leading-none mb-0.5">Desktop</p>
            <span class="text-sm text-gray-cool-50 leading-none">1024px</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="bg-gray-cool-4 min-w-80 outline-1 outline-gray-cool-20"
      style={{ backgroundImage: `url(${graphPaper.src})` }}
    >
      <ZagSplitter resize={resize} client:load>
        <div style={{ minHeight: minHeight || "none" }}>
          <!-- Example start -->
          <Fragment set:html={markup} />
          <!-- Example end -->
        </div>
      </ZagSplitter>
    </div>
  </div>
  <div>
    <div class="outline-1 outline-gray-cool-20 rounded-b">
      <div class="border-b border-b-gray-cool-20">
        <div class="flex">
          <div class="px-3 border-r border-r-gray-cool-20 flex items-center">
            <span class="text-black text-sm font-semibold">HTML</span>
          </div>
          <div class="pr-2 py-1 ml-auto">
            {
              componentName && (
                <StackBlitzButton
                  componentName={componentName}
                  htmlContent={markup}
                  client:load
                />
              )
            }
          </div>
        </div>
      </div>
      <CollapsibleCode
        class="rounded-b [&_pre]:!rounded-none [&_pre]:!border-0 [&_button]:!border-0"
        code={markup}
        lang="html"
        wrap={false}
      />
    </div>
  </div>
</div>
