---
import { ViewTransitions } from "astro:transitions";

import GlobalNav from "#components/global-nav/index.astro";
import { SEO } from "astro-seo";

import "#styles/main.css";
import "@fontsource-variable/open-sans";
import "@fontsource-variable/public-sans";
import "@fontsource-variable/roboto-mono";
import "@fontsource-variable/source-sans-3";

import "@fontsource/merriweather/300.css";
import "@fontsource/merriweather/400.css";
import "@fontsource/merriweather/700.css";
import "@fontsource/merriweather/900.css";

interface Props {
  title?: string;
  description: string;
  ogImageUrl?: URL;
}

const SITE_NAME = "USWDS + Tailwind";

const {
  title = SITE_NAME,
  description,
  ogImageUrl = new URL("og.jpg", Astro.url.origin),
} = Astro.props;

if (title) ogImageUrl.searchParams.set("title", title);
if (description) ogImageUrl.searchParams.set("description", description);

const metaTitle = title === SITE_NAME ? title : `${title} - ${SITE_NAME}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <SEO
      charset="UTF-8"
      title={metaTitle}
      description={description}
      openGraph={{
        basic: {
          title: metaTitle,
          type: "Website",
          image: ogImageUrl.toString(),
          url: Astro.url,
        },
        optional: {
          description,
          siteName: SITE_NAME,
        },
        image: {
          width: 1200,
          height: 630,
          alt: `Project logo resembling the American flag. White text on a dark blue background. Text reads: ${title || "USWDS + Tailwind"}. ${description}`,
        },
      }}
      twitter={{
        card: "summary_large_image",
        title: metaTitle,
        description,
        image: ogImageUrl,
      }}
      extend={{
        link: [
          { rel: "icon", type: "image/svg+xml", href: "/logo.svg" },
          { rel: "sitemap", href: "/sitemap-index.xml" },
        ],
        meta: [
          { name: "viewport", content: "width=device-width, initial-scale=1" },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />

    <script is:inline>
      document.documentElement.classList.add("uswds-ready");

      var fallback = setTimeout(function () {
        document.documentElement.classList.remove("uswds-ready");
      }, 3000);

      window.addEventListener("alpine:init", () => {
        clearTimeout(fallback);
        document.documentElement.classList.add("uswds-ready");
      });
    </script>

    <!-- Fathom - beautiful, simple website analytics -->
    {
      import.meta.env.PROD ? (
        <script
          is:inline
          src="https://cdn.usefathom.com/script.js"
          data-site="JRNISGUF"
          data-spa="auto"
          defer
        />
      ) : null
    }
    <!-- / Fathom -->
    <ViewTransitions />
  </head>
  <body class="h-full font-public-sans">
    <div class="relative">
      <GlobalNav />
    </div>
    <slot />
  </body>
</html>
