{% extends "base.twig" %} {% block content %}

{% set checkboxes = [{
  label: 'Sojourner Truth',
  description: 'This is optional text that can be used to describe the label in more detail.',
  value: 'Sojourner Truth',
},{
  label: 'Frederick Douglass',
  value: 'Frederick Douglass',
},{
  label: 'Booker T. Washington',
  value: 'Booker T. Washington',
}, {
  label: 'George Washington Carver',
  value: 'George Washington Carver',
  isDisabled: true
}] %}

<div class="p-4">

  <form class="max-w-xs">
    <fieldset class="font-source-sans-pro">
      <legend class="leading-snug max-w-56 mb-3">Select any historical figure</legend>
      <div class="space-y-2">
      {% for checkbox in checkboxes %}
        {% set checkbox_id = 'checkbox-' ~ random() %}
        <div class="flex relative px-3 py-4">
          <input {{ checkbox.isDisabled == true ? 'disabled' : null }} id="{{ checkbox_id }}" type="checkbox" value="{{ checkbox.value }}" class="peer top-[2px] relative cursor-pointer text-blue-60v border-none h-5 w-5 rounded-sm ring-2 ring-offset-0 ring-gray-90 focus:ring-2 focus:ring-offset-0 focus:ring-gray-90 focus:outline focus:outline-4 focus:outline-offset-4 focus:outline-blue-40v disabled:ring-gray-50 disabled:cursor-not-allowed disabled:checked:text-gray-50 checked:ring-blue-60v focus:checked:ring-blue-60v" />
          <label for="{{ checkbox_id }}" class="pl-3 cursor-pointer block peer-disabled:text-gray-60 peer-disabled:cursor-not-allowed before:absolute before:inset-0 after:absolute after:inset-0 after:border-2 after:border-gray-20 after:rounded after:-z-10 peer-checked:after:border-blue-60v peer-checked:after:bg-blue-60v/10 peer-disabled:after:border-gray-10 peer-disabled:after:bg-white">
            {{ checkbox.label }}
            {% if checkbox.description %}
            <span class="block mt-1 text-sm">{{ checkbox.description }}</span>
            {% endif %}
          </label>
        </div>
      {% endfor %}
      </div>
    </fieldset>
  </form>

<div>

{% endblock %}
