---
export const prerender = true;

import { getCollection, render } from "astro:content";
import BaseLayout from "#layouts/base-layout.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import ContentList from "#components/content-list.astro";
import TableOfContents from "#components/table-of-contents.astro";
import ComponentPreview from "#components/component-preview.astro";
import ContentLayout from "#layouts/content-layout.astro";
import Alert from "#components/alert.astro";

export const getStaticPaths = (async () => {
  const allComponents = await getCollection(
    "components",
    (entry) => entry.data.isPublished !== false,
  );
  return allComponents.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content, headings } = await render(entry);

const activeHeading = "";
const visibleHeadings = headings.filter((h) => h.depth <= 3);
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
  <ContentLayout>
    <div class="flex w-full">
      <TableOfContents headings={visibleHeadings} />
      <main id="main-content" class="px-4 tablet:px-12 py-12 min-w-0 w-full">
        <div class="flex flex-col mx-auto max-w-6xl">
          <div class="mb-16">
            <h1 class="text-4xl font-bold mb-4">{entry.data.title}</h1>
            <p class="text-xl font-light max-w-prose">
              {entry.data.description}
            </p>
          </div>
          <div
            class="docs-prose max-w-none [&_>_*:not(.not-docs-prose)]:max-w-prose"
          >
            <Content
              components={{
                ContentList,
                ComponentPreview,
                Alert,
              }}
            />
          </div>
        </div>
      </main>
    </div>
    <script>
      import { initSplitter } from "#utils/zag/splitter";
      document.addEventListener("astro:page-load", () => {
        initSplitter();
      });
    </script>
  </ContentLayout>
</BaseLayout>
