---
import { getCollection } from 'astro:content'
import Layout from '#layouts/base-layout.astro';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import PropsTable from '#components/props-table.astro';
import ContentList from '#components/content-list.astro';


export const getStaticPaths = (async () => {
  const allComponents = await getCollection('components')
  return allComponents.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { entry } = Astro.props
const { Content, headings } = await entry.render()

const activeHeading = ''
const visibleHeadings = headings.filter((h) => h.depth <= 3)
---

<Layout title={entry.data.title}>
  <div class="flex w-full">
    <aside class="w-72 shrink-0 order-1 pr-4 hidden desktop-lg:flex">
      <div class="fixed top-0 py-12 font-public-sans">
        <h4 class="font-bold mb-2">On this page</h4>
        <ul class="border-l border-gray-cool-20">
          {visibleHeadings.map((heading) => (
            <li class="border-l-4 -ml-1" class:list={activeHeading === heading.slug ? 'border-black' : 'border-transparent'}>
              <a class="block relative py-1.5 px-4 text-blue-60v hover:text-blue-70v hover:underline focus:outline focus:outline-4 focus:outline-offset-0 focus:outline-blue-40v leading-tighter text-sm" href={`#${heading.slug}`}>
                <span class:list={{
                  'pl-3': heading.depth === 3, 
                  'pl-6': heading.depth === 4
                }}>{heading.text}</span>
              </a>
            </li>
          ))}
        </ul>
      </div>
    </aside>
    <div class="p-12 min-w-0 w-full">
      <div class="flex flex-col mx-auto max-w-5xl">
        <div class="mb-16">
          <h1 class="text-4xl font-bold font-public-sans mb-4">{entry.data.title}</h1>
          <p class="text-xl font-light font-public-sans max-w-prose">{entry.data.description}</p>
        </div>
        <div class="usa-prose max-w-none [&_>_*:not(.not-usa-prose)]:max-w-prose">
          <Content components={{
            PropsTable,
            ContentList
          }} />
        </div>
      </div>
    </div>
  </div>
</Layout>
