{% import '@components/pagination/includes/pagination.twig' as paginate  %}

<nav aria-label="Pagination" class="flex justify-center">
  <ul class="flex space-x-2">

    {% if pagination.current_page != 1 %}
      <li class="h-10 min-w-[2.5rem] hidden tablet:inline-flex">
        <a
          href="#"
          class="pr-2 mr-3 inline-flex items-center text-blue-60v hover:underline hover:text-blue-warm-70v focus:underline focus:text-blue-warm-70v focus:outline focus:outline-4 focus:outline-blue-40v"
          >
          <span
            aria-hidden="true"
            class="icon-[material-symbols--chevron-left] align-middle"
          ></span>
          Previous
        </a>
      </li>
    {% endif %}

    {% if pagination.current_page <= 5  %}

        {% for i in range(1, 6) %}
          {{ paginate.button(i,'', i == pagination.current_page, i == pagination.page_count) }}
        {% endfor %}
        {{ paginate.ellipsis() }}

      {% else %}

        {{ paginate.button(1, '') }}
        {{ paginate.ellipsis() }}
        {% for i in range(pagination.current_page - 1, pagination.current_page + 2) %}
          {{ paginate.button(i,'', i == pagination.current_page, i == pagination.page_count) }}
        {% endfor %}
        {{ paginate.ellipsis() }}

      {% endif %}

     <li class="h-10 min-w-[2.5rem] hidden tablet:inline-flex">
      <a
        href="#"
        class="pl-2 ml-3 inline-flex items-center text-blue-60v hover:underline hover:text-blue-warm-70v focus:underline focus:text-blue-warm-70v focus:outline focus:outline-4 focus:outline-blue-40v"
        >
        Next
        <span
          aria-hidden="true"
          class="icon-[material-symbols--chevron-right] align-middle"
        ></span>
      </a>
    </li>

  </ul>
</nav>

